<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-type" content="text/html; charset=[% settings.charset %]" />
<title>WebApp</title>
<link rel="stylesheet" href="[% request.uri_base %]/css/style.css" />
<link rel="stylesheet" href="[% request.uri_base %]/css/kendo.default.min.css" />
<link rel="stylesheet" href="[% request.uri_base %]/css/menu.css" />
<link rel="stylesheet" href="[% request.uri_base %]/css/common.css" />
<link rel="stylesheet" href="[% request.uri_base %]/css/kendo.css" />

<!-- Grab Google CDN's jQuery. fall back to local if necessary -->

<script type="text/javascript" language="javascript" src="[% request.uri_base %]/javascripts/jquery.js"></script>
<script type="text/javascript" language="javascript" src="[% request.uri_base %]/javascripts/jquery.min.js"></script>
<script type="text/javascript" language="javascript" src="[% request.uri_base %]/javascripts/kendo.web.min.js"></script>

</head>
<body>
    <div id="container">
        <div id="logo">LOGO HERE</div>
        <div id="menu">
            
            <ul id="menuHolder" class="n-megamenu" style="width:100%">
                <li class="n-megamenu-tab">
                    <span>
                        <a href="/">Home</a>
                    </span>
                </li>
                <li class="n-megamenu-tab">
                    <span>
                        <a href="/artist/view">Browse Artists</a>
                    </span>
                </li>
                <li class="n-megamenu-tab">
                    <span>
                        <a href="/contact">Contact</a>
                    </span>
                </li>
                <li class="n-megamenu-action n-megamenu-tab">
                    <span>
                        <a href="/logout">Log out</a>
                    </span>
                </li>
            </ul>
    
            
        </div>
        <div class="wrapper">
            
            [% content %]
    
        </div>
    </div>
<div id="footer">
Powered by <a href="http://perldancer.org/">Dancer</a> [% dancer_version %]
</div>
</body>
</html>
