<h2>Configuring [% form_data.name %]</h2>

<div class="form-holder">
    <form class="n-form" method="POST" action=[% action %]>
        [% FOREACH field IN form_data.fields %]
            [% field %]
        [% END %]
        <br>
        <button type="submit" class="btn">Submit</button>
    </form>
</div>