[% form %]

<script>
    $(document).ready(function() {
        $('.k-combobox input.k-input, .k-datepicker input.k-input').css({
            "width" : "176px",
            "margin-bottom" : "0px",
            "font-size": "12px"
        });
        $('.k-dropdownwrap').css("height", "30px");
    });
</script>