<h2>[% data.name %] - [% data.artist %]</h2>

<div id="album_content">
    [% data.release_date %]
    
    [% data.genre %]
    
    <img id="artist_picture" src="[% request.uri_base %]/images/covers/[% data.picture %]">
</div>