<h2>[% data.name %]</h2>

<div id="artist_content">
    <img id="artist_picture" src="[% request.uri_base %]/images/artists/[% data.picture %]">
    <span>[% data.bio %]</span>
	<br>
	<a href="/biography/edit/[% data.id %]">Edit biography</a>
</div>