[% test %]

<select name="bla">
    <option>1</option>
    <option>2</option>
    
</select>
<br><br>
<input name="ha">

<script>
$('select[name="bla"]').kendoComboBox();
$('input[name="ha"]').kendoDatePicker();
</script>