
body {
margin: 0;
margin-bottom: 25px;
padding: 0;
background-color: #767676;
background-image: linear-gradient(to bottom, #818181, #666666);
background-repeat: repeat-x;
background-position: top left;

font-family: "Lucida Grande", "Bitstream Vera Sans", "Verdana";
font-size: 14px;
color: #333333;
}

h1 {
font-size: 28px;
color: #000;
}

a  {color: #03c}
a:hover {
background-color: #03c;
color: white;
text-decoration: none;
}

#page {
background-color: #ddd;
width: 750px;
margin: auto;
margin-left: auto;
padding-left: 0px;
margin-right: auto;
}

#content {
background-color: white;
border: 3px solid #aaa;
border-top: none;
padding: 25px;
width: 500px;
}

#sidebar {
float: right;
width: 175px;
}

#header, #about, #getting-started {
padding-left: 75px;
padding-right: 30px;
}


#header {
background-image: url("/images/perldancer.jpg");
background-repeat: no-repeat;
background-position: top left;
height: 64px;
}
#header h1, #header h2 {margin: 0}
#header h2 {
color: #888;
font-weight: normal;
font-size: 16px;
}

#about h3 {
margin: 0;
margin-bottom: 10px;
font-size: 14px;
}

#about-content {
background-color: #ffd;
border: 1px solid #fc0;
margin-left: -11px;
}
#about-content table {
margin-top: 10px;
margin-bottom: 10px;
font-size: 11px;
border-collapse: collapse;
}
#about-content td {
padding: 10px;
padding-top: 3px;
padding-bottom: 3px;
}
#about-content td.name  {color: #555}
#about-content td.value {color: #000}

#about-content.failure {
background-color: #fcc;
border: 1px solid #f00;
}
#about-content.failure p {
margin: 0;
padding: 10px;
}

#getting-started {
border-top: 1px solid #ccc;
margin-top: 25px;
padding-top: 15px;
}
#getting-started h1 {
margin: 0;
font-size: 20px;
}
#getting-started h2 {
margin: 0;
font-size: 14px;
font-weight: normal;
color: #333;
margin-bottom: 25px;
}
#getting-started ol {
margin-left: 0;
padding-left: 0;
}
#getting-started li {
font-size: 18px;
color: #888;
margin-bottom: 25px;
}
#getting-started li h2 {
margin: 0;
font-weight: normal;
font-size: 18px;
color: #333;
}
#getting-started li p {
color: #555;
font-size: 13px;
}

#search {
margin: 0;
padding-top: 10px;
padding-bottom: 10px;
font-size: 11px;
}
#search input {
font-size: 11px;
margin: 2px;
}
#search-text {width: 170px}

#sidebar ul {
margin-left: 0;
padding-left: 0;
}
#sidebar ul h3 {
margin-top: 25px;
font-size: 16px;
padding-bottom: 10px;
border-bottom: 1px solid #ccc;
}
#sidebar li {
list-style-type: none;
}
#sidebar ul.links li {
margin-bottom: 5px;
}

h1, h2, h3, h4, h5 {
font-family: sans-serif;
margin: 1.2em 0 0.6em 0;
}

p {
line-height: 1.5em;
margin: 1.6em 0;
}

code, tt {
    font-family: 'Andale Mono', Monaco, 'Liberation Mono', 'Bitstream Vera Sans Mono', 'DejaVu Sans Mono', monospace;
}

#footer {
clear: both;
padding-top: 2em;
text-align: center;
padding-right: 160px;
font-family: sans-serif;
font-size: 10px;
}

/* ---------------------------------------------------------------------
   --------------------------------------------------------------------- */

div#container {
    padding-left: 20px;
    padding-right: 20px;
}

div#logo {
    height: 70px;
    padding: 15px 0;
}
div#menu {
    height: 30px;
    border-radius: 5px 5px 0 0;
    background-color: #F0713A;
}

div.wrapper {
    background: none repeat scroll 0 0 #F2F2F2;
    border-radius: 0 0 5px 5px;
    padding: 20px;
}
   
div.k-grid {
    margin-left: auto;
    margin-right: auto;
}

div#login-welcome{
    height: 40px;
    margin: 80px auto 0;
    width: 550px;
}

div#login-container {
    width: 550px;
    height: 350px;
    margin-left: auto;
    margin-right: auto;
}

input {
    border-radius: 4px 4px 4px 4px;
    color: #555555;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 10px;
    padding: 4px 6px;
    vertical-align: middle;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.btn {
    background-color: #006DCC;
    background-image: linear-gradient(to bottom, #F0713A, #F26324);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: #FFFFFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    border-radius: 4px 4px 4px 4px;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    padding: 4px 12px;
}

.login p {
    overflow: auto;
    padding: 5px;
}

.login label {
    width: 100px;
    float: left;
    margin; 5px;
    display: block;
    cursor: pointer;
}

.login input {
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    height: 30;
    width: 200;
}

.login button {
    margin: 0 0 0 190px;
    width: 110px;
}

.k-grid td {
    padding: 0.9em 0.9em;
    
}

.k-grid-header .k-header {
    text-align: left;
    border-style: solid;
    border-width: 0 0 1px 1px;
}

.k-grid-header, .k-header {
    background-image: none, linear-gradient(to bottom, #F6F6F6 0%, #EAEAEA 100%);
}

.k-button {
    padding: 4px 4px 4px 4px;
}

#artist_picture{
    float: left;
    width: 300px;
    padding-right: 15px;
}

#artists-grid-holder .grid-holder {
    margin: auto;
}

/* ---- FORM ENGINE ---- */
.form-holder div label {
    float: left;
    margin: 5px;
    width: 150px;
}

.form-holder div input[type="text"],
.form-holder div input[type="password"],
.form-holder div input[type="datetime"],
.form-holder div input[type="date"],
.form-holder div input[type="number"],
.form-holder div input[type="email"],
.form-holder div textarea,
.form-holder div select {
    border-radius: 4px 4px 4px 4px;
    color: #555555;
    display: inline-block;
    font-size: 14px;
    height: 20px;
    line-height: 20px;
    margin-bottom: 10px;
    padding: 4px 6px;
    vertical-align: middle;
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    width: 200px;
}

.form-holder div select {
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    width: 214px;
    height: 28px;
}

span.k-combobox,
span.k-datepicker {
    width: 214px;
    margin-bottom: 10px;
}

span.combobox input.k-input,
span.k-datepicker input.k-input {
    width: 176px;
    font-size: 12px;
}